<a href="https://colab.research.google.com/github/Mutasar/Membangun-Proyek-Machine-Learning/blob/main/%5BClustering%5D_Submission_Akhir_BMLP_Mutasar_rev1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Penting**
- Pastikan Anda melakukan Run All sebelum mengirimkan submission untuk memastikan seluruh cell berjalan dengan baik.
- Pastikan Anda menggunakan variabel df dari awal sampai akhir dan tidak diperbolehkan mengganti nama variabel tersebut.
- Hapus simbol pagar (#) pada kode yang bertipe komentar jika Anda menerapkan kriteria tambahan
- Biarkan simbol pagar (#) jika Anda tidak menerapkan kriteria tambahan

# **INFORMASI DATASET**
## Latar Belakang

Dalam dunia bisnis ritel, pemahaman terhadap perilaku pelanggan menjadi salah satu faktor krusial dalam menentukan strategi pemasaran, peningkatan layanan, serta pengambilan keputusan berbasis data. Salah satu pendekatan yang umum digunakan untuk memahami perilaku pelanggan adalah melalui segmentasi, yaitu proses pengelompokan pelanggan ke dalam beberapa segmen atau kelompok berdasarkan karakteristik tertentu.

Dengan menerapkan metode **unsupervised learning**, khususnya **clustering**, proyek ini bertujuan untuk membentuk segmentasi pelanggan yang merepresentasikan pola-pola pembelian yang serupa. Hasil segmentasi ini diharapkan dapat memberikan insight yang bernilai bagi pihak manajemen, khususnya dalam menyusun strategi promosi yang lebih tepat sasaran, mengembangkan program loyalitas, serta mengoptimalkan layanan pelanggan.

# **1. Import Library**
Pada tahap ini, Anda perlu mengimpor beberapa pustaka (library) Python yang dibutuhkan untuk analisis data dan pembangunan model machine learning. Semua library yang dibutuhkan harus **import** di **cell** ini, jika ada library yang dijalankan di cell lain maka **submission langsung ditolak**

In [15]:
#Type your code here

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from statsmodels.tsa.seasonal import seasonal_decompose
from google.colab import files

# **2. Memuat Dataset**
Pada tahap ini, Anda perlu memuat dataset ke dalam notebook lalu mengecek informasi dataset sebelum nantinya dilakukan pembersihan. Hal-hal yang perlu dilakukan pada tahapan ini yaitu:
1. **Memahami Struktur Data**
   - Dataset harus mengambil referensi wajib digunakan (bisa dilihat [Disini](https://drive.google.com/drive/folders/1Zs7VmPZ-jNwsRlMKH65Ea-LApSwx6lKx?usp=drive_link))
   - Melakukan loading dataset ke dalam notebook dan menampilkan 5 baris pertama dengan function `head`.
   - Tinjau jumlah baris kolom dan jenis data dalam dataset dengan function `info`.  
   - Menampilkan statistik deskriptif dataset dengan menjalankan `describe`.
   - Pastikan **setiap function tersebut** memiliki **output pada setiap cell** code. Jika tidak **submission langsung ditolak**

Gunakan code ini untuk melakukan load data secara otomatis tanpa harus download data tersebut secara manual:
```python
url='https://drive.google.com/uc?id=1gnLO9qvEPqv1uBt1928AcsCmdvzqjC5m'
df = pd.read_csv(url)
```

In [2]:
url='https://drive.google.com/uc?id=1gnLO9qvEPqv1uBt1928AcsCmdvzqjC5m'
df = pd.read_csv(url)

In [26]:
# Tampilkan 5 baris pertama dengan function head.

df.head()

,TransactionID,AccountID,TransactionAmount,TransactionDate,TransactionType,Location,DeviceID,IP Address,MerchantID,Channel,CustomerAge,CustomerOccupation,TransactionDuration,LoginAttempts,AccountBalance,PreviousTransactionDate,TransactionAmount_Quantiles,TransactionAmount_Quantiles_Encoded,AccountBalance_Binned,AccountBalance_Binned_Encoded
0,0,126,0.007207,680,1.0,36,365,186,14,0,0.838710,0,0.244828,0.0,0.336832,105,0,0,Medium-Low,3
1,1,450,0.195940,1178,1.0,15,50,82,51,0,0.806452,0,0.451724,0.0,0.918055,192,2,2,High,0
2,2,18,0.065680,1262,1.0,23,229,342,8,2,0.016129,3,0.158621,0.0,0.068637,41,1,1,Low,1
3,3,68,0.096016,818,1.0,33,182,300,1,2,0.129032,3,0.051724,0.0,0.569198,163,1,1,Medium,2
4,4,406,0.006874,1939,1.0,1,298,500,90,2,0.430297,3,0.648276,0.0,0.492591,16,0,0,Medium-Low,3

In [4]:
# Tinjau jumlah baris kolom dan jenis data dalam dataset dengan info.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2537 entries, 0 to 2536
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   TransactionID            2508 non-null   object
 1   AccountID                2516 non-null   object
 2   TransactionAmount        2511 non-null   float64
 3   TransactionDate          2509 non-null   object
 4   TransactionType          2507 non-null   object
 5   Location                 2507 non-null   object
 6   DeviceID                 2507 non-null   object
 7   IP Address               2517 non-null   object
 8   MerchantID               2514 non-null   object
 9   Channel                  2510 non-null   object
 10  CustomerAge              2519 non-null   float64
 11  CustomerOccupation       2514 non-null   object
 12  TransactionDuration      2511 non-null   float64
 13  LoginAttempts            2516 non-null   float64
 14  AccountBalance           2510 non-null   float64
 15  PreviousTransactionDate  2513 non-null   object
dtypes: float64(5), object(11)
memory usage: 317.3+ KB

In [5]:
# Menampilkan statistik deskriptif dataset dengan menjalankan describe

df.describe()

,TransactionAmount,CustomerAge,TransactionDuration,LoginAttempts,AccountBalance
count,2511.000000,2519.000000,2511.000000,2516.000000,2510.000000
mean,297.656468,44.678444,119.422939,1.121622,5113.438124
std,292.230367,17.837359,70.078513,0.594469,3897.975861
min,0.260000,18.000000,10.000000,1.000000,101.250000
25%,81.310000,27.000000,63.000000,1.000000,1504.727500
50%,211.360000,45.000000,112.000000,1.000000,4734.110000
75%,413.105000,59.000000,161.000000,1.000000,7672.687500
max,1919.110000,80.000000,300.000000,5.000000,14977.990000

(Opsional) Memuat Dataset dan Melakukan Exploratory Data Analysis (EDA) [Skilled]

**Biarkan kosong jika tidak menerapkan kriteria skilled**

(Opsional) Memuat Dataset dan Melakukan Exploratory Data Analysis (EDA) [Advanced]

**Biarkan kosong jika tidak menerapkan kriteria advanced**

# **3. Pembersihan dan Pra Pemrosesan Data**

Pada tahap ini, Anda akan melakukan **Pembersihan Dataset** untuk menjadikan dataset mudah diintepretasi dan bisa dilatih. Hal-hal yang wajib kamu lakukan yaitu:

1. **Mengecek dataset** menggunakan isnull().sum() dan duplicated().sum().
2. Melakukan feature scaling menggunakan `MinMaxScaler()` atau `StandardScalar()` untuk fitur numerik.
3. Melakukan feature encoding menggunakan `LabelEncoder()` untuk fitur kategorikal.
4. Melakukan drop pada kolom id.
5. **Ketentuan Cell Code**
   - Pastikan **setiap pemeriksaan tersebut** memiliki **output pada cell-nya**. Jika tidak **submission langsung ditolak**

In [10]:
# Mengecek dataset menggunakan isnull().sum()

df.isnull().sum()

TransactionID              29
AccountID                  21
TransactionAmount          26
TransactionDate            28
TransactionType            30
Location                   30
DeviceID                   30
IP Address                 20
MerchantID                 23
Channel                    27
CustomerAge                18
CustomerOccupation         23
TransactionDuration        26
LoginAttempts              21
AccountBalance             27
PreviousTransactionDate    24
dtype: int64

In [41]:
# Mengecek dataset menggunakan duplicated().sum()

jumlah_duplikat = df.duplicated().sum()
print(f"Jumlah baris duplikat: {jumlah_duplikat}")

Jumlah baris duplikat: 0

In [40]:
df = df.drop_duplicates()

In [42]:
print(df.columns.tolist())

['TransactionID', 'AccountID', 'TransactionAmount', 'TransactionDate', 'TransactionType', 'Location', 'DeviceID', 'IP Address', 'MerchantID', 'Channel', 'CustomerAge', 'CustomerOccupation', 'TransactionDuration', 'LoginAttempts', 'AccountBalance', 'PreviousTransactionDate', 'TransactionAmount_Quantiles', 'TransactionAmount_Quantiles_Encoded', 'AccountBalance_Binned', 'AccountBalance_Binned_Encoded']

In [43]:
# Temukan baris yang mengandung 'Medium-Low'
df[df.apply(lambda row: row.astype(str).str.contains('Medium-Low').any(), axis=1)]

,TransactionID,AccountID,TransactionAmount,TransactionDate,TransactionType,Location,DeviceID,IP Address,MerchantID,Channel,CustomerAge,CustomerOccupation,TransactionDuration,LoginAttempts,AccountBalance,PreviousTransactionDate,TransactionAmount_Quantiles,TransactionAmount_Quantiles_Encoded,AccountBalance_Binned,AccountBalance_Binned_Encoded
0,0,126,0.007207,680,1.0,36,365,186,14,0,0.838710,0,0.244828,0.0,0.336832,105,0,0,Medium-Low,3
4,4,406,0.006874,1939,1.0,1,298,500,90,2,0.430297,3,0.648276,0.0,0.492591,16,0,0,Medium-Low,3
17,17,354,0.256753,2367,1.0,8,417,49,58,2,0.338710,1,0.772414,0.0,0.336681,327,3,3,Medium-Low,3
19,19,281,0.037116,1050,1.0,8,38,70,38,2,0.000000,3,0.548276,0.0,0.434728,177,0,0,Medium-Low,3
20,20,1,0.030779,413,1.0,20,150,59,39,1,0.854839,2,0.096552,0.0,0.379763,181,0,0,Medium-Low,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2503,2475,422,0.140704,2079,1.0,40,218,132,64,0,0.209677,1,0.110345,0.0,0.357183,264,2,2,Medium-Low,3
2505,2477,372,0.300628,175,1.0,41,108,69,74,0,0.338710,1,0.203448,0.0,0.347161,266,3,3,Medium-Low,3
2506,2478,254,0.047935,692,1.0,30,514,256,75,1,0.677419,1,0.286207,0.0,0.459525,163,1,1,Medium-Low,3
2513,2484,300,0.163343,484,1.0,28,206,462,33,1,0.887097,2,0.489655,0.0,0.470024,240,2,2,Medium-Low,3
2524,74,235,0.120833,2461,1.0,29,72,160,65,0,0.306452,1,0.141379,0.0,0.442881,174,2,2,Medium-Low,3

In [45]:
# Melakukan feature scaling menggunakan MinMaxScaler() atau StandardScalar() untuk fitur numerik.
# Pastikan kamu menggunakan function head setelah melalukan scaling.

# Select only the numerical columns for scaling
numerical_columns = ['TransactionAmount', 'CustomerAge', 'TransactionDuration', 'LoginAttempts', 'AccountBalance']
data = df[numerical_columns]

# Scaling
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(data)

# Create DataFrame from scaled data
scaled_df = pd.DataFrame(scaled_data, columns=numerical_columns)

# Display the head of the scaled DataFrame
print("Scaled Data Head:")
print(scaled_df.head())

Scaled Data Head:
   TransactionAmount  CustomerAge  TransactionDuration  LoginAttempts  \
0           0.015383     0.838710             0.244828            0.0
1           0.418210     0.806452             0.451724            0.0
2           0.140186     0.016129             0.158621            0.0
3           0.204934     0.129032             0.051724            0.0
4           0.014672     0.430297             0.648276            0.0

   AccountBalance
0        0.336832
1        0.918055
2        0.068637
3        0.569198
4        0.492591

In [46]:
# Melakukan drop pada kolom yang memiliki keterangan id dan IP Address

columns_to_drop = [col for col in df.columns if 'id' in col.lower() or 'ip address' in col.lower()]
df = df.drop(columns=columns_to_drop)

# Display the columns after dropping
print(df.columns.tolist())

['TransactionAmount', 'TransactionDate', 'TransactionType', 'Location', 'Channel', 'CustomerAge', 'CustomerOccupation', 'TransactionDuration', 'LoginAttempts', 'AccountBalance', 'PreviousTransactionDate', 'TransactionAmount_Quantiles', 'TransactionAmount_Quantiles_Encoded', 'AccountBalance_Binned', 'AccountBalance_Binned_Encoded']

In [47]:
# Melakukan feature encoding menggunakan LabelEncoder() untuk fitur kategorikal.
# Pastikan kamu menggunakan function head setelah melalukan encoding.



# Identify categorical columns (you might need to adjust this list based on your data)
categorical_columns = ['TransactionType', 'Location', 'Channel', 'CustomerOccupation', 'AccountBalance_Binned'] # Add other categorical columns here

# Apply LabelEncoder to each categorical column
label_encoders = {} # Store encoders if you need to inverse transform later
for col in categorical_columns:
    if col in df.columns: # Check if the column exists in the DataFrame
        label_encoders[col] = LabelEncoder()
        df[col] = label_encoders[col].fit_transform(df[col])
    else:
        print(f"Warning: Column '{col}' not found in the DataFrame.")


# Display the head of the DataFrame after encoding
print("DataFrame Head after Encoding:")
print(df.head())

DataFrame Head after Encoding:
   TransactionAmount  TransactionDate  TransactionType  Location  Channel  \
0           0.007207              680                0        36        0
1           0.195940             1178                0        15        0
2           0.065680             1262                0        23        2
3           0.096016              818                0        33        2
4           0.006874             1939                0         1        2

   CustomerAge  CustomerOccupation  TransactionDuration  LoginAttempts  \
0     0.838710                   0             0.244828            0.0
1     0.806452                   0             0.451724            0.0
2     0.016129                   3             0.158621            0.0
3     0.129032                   3             0.051724            0.0
4     0.430297                   3             0.648276            0.0

   AccountBalance  PreviousTransactionDate  TransactionAmount_Quantiles  \
0        0.336832                      105                            0
1        0.918055                      192                            2
2        0.068637                       41                            1
3        0.569198                      163                            1
4        0.492591                       16                            0

   TransactionAmount_Quantiles_Encoded  AccountBalance_Binned  \
0                                    0                      3
1                                    2                      0
2                                    1                      1
3                                    1                      2
4                                    0                      3

   AccountBalance_Binned_Encoded
0                              3
1                              0
2                              1
3                              2
4                              3

In [48]:
# Last checking gunakan columns.tolist() untuk checking seluruh fitur yang ada.
# Perbaiki kode di bawah ini tanpa menambahkan atau mengurangi cell code ini.
# ____.columns.tolist()


df.columns.tolist()

['TransactionAmount',
 'TransactionDate',
 'TransactionType',
 'Location',
 'Channel',
 'CustomerAge',
 'CustomerOccupation',
 'TransactionDuration',
 'LoginAttempts',
 'AccountBalance',
 'PreviousTransactionDate',
 'TransactionAmount_Quantiles',
 'TransactionAmount_Quantiles_Encoded',
 'AccountBalance_Binned',
 'AccountBalance_Binned_Encoded']

(Opsional) Pembersihan dan Pra Pemrosesan Data [Skilled]

**Biarkan kosong jika tidak menerapkan kriteria skilled**

In [31]:
# Menangani data yang hilang (bisa menggunakan dropna() atau metode imputasi fillna()).

In [32]:
# Menghapus data duplikat menggunakan drop_duplicates().

(Opsional) Pembersihan dan Pra Pemrosesan Data [Advanced]

**Biarkan kosong jika tidak menerapkan kriteria advanced**

In [33]:
# Melakukan Handling Outlier Data berdasarkan jumlah outlier, apakah menggunakan metode drop atau mengisi nilai tersebut

In [34]:
# Melakukan binning data berdasarkan kondisi rentang nilai pada fitur numerik,
# lakukan pada satu sampai dua fitur numerik.
# Silahkan lakukan encode hasil binning tersebut menggunakan LabelEncoder.

# **4. Membangun Model Clustering**
Pada tahap ini, Anda membangun model clustering dengan memilih algoritma yang sesuai untuk mengelompokkan data berdasarkan kesamaan.
1. Pastikan Anda menggunakan dataframe yang sudah melalui processing sesuai dengan levelnya (Basic, Skilled, Advanced)
2. Melakukan visualisasi Elbow Method untuk menentukan jumlah cluster terbaik menggunakan `KElbowVisualizer()`.
3. Menggunakan algoritma K-Means Clustering dengan `sklearn.cluster.KMeans()`.
4. Jalankan cell code `joblib.dump(model_kmeans, "best_model_clustering.h5")` untuk menyimpan model yang sudah dibuat.

In [50]:
# Gunakan describe untuk memastikan proses clustering menggunakan dataset hasil preprocessing
# Lengkapi kode ini dengan mengubah nama DataFrame yang akan dilatih.
# Kode harus digunakan dan dilarang menambahkan syntax lainnya pada cell ini.
# ___.describe()


df.describe()

,TransactionAmount,TransactionDate,TransactionType,Location,Channel,CustomerAge,CustomerOccupation,TransactionDuration,LoginAttempts,AccountBalance,PreviousTransactionDate,TransactionAmount_Quantiles,TransactionAmount_Quantiles_Encoded,AccountBalance_Binned,AccountBalance_Binned_Encoded
count,2515.000000,2515.000000,2515.0,2515.000000,2515.000000,2515.000000,2515.000000,2515.000000,2515.0,2515.000000,2515.000000,2515.000000,2515.000000,2515.000000,2515.000000
mean,0.148127,1256.021869,0.0,21.286680,1.010736,0.429559,1.530417,0.377799,0.0,0.337191,180.912525,1.500596,1.500596,1.695825,1.695825
std,0.129991,725.601110,0.0,12.395792,0.830674,0.286245,1.150287,0.240104,0.0,0.260631,103.942293,1.118078,1.118078,0.995676,0.995676
min,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.043224,627.500000,0.0,11.000000,0.000000,0.145161,0.500000,0.182759,0.0,0.095324,91.500000,1.000000,1.000000,1.000000,1.000000
50%,0.111155,1256.000000,0.0,21.000000,1.000000,0.435484,2.000000,0.358621,0.0,0.318555,181.000000,2.000000,2.000000,1.000000,1.000000
75%,0.213326,1884.500000,0.0,32.000000,2.000000,0.661290,3.000000,0.520690,0.0,0.506842,272.000000,2.500000,2.500000,3.000000,3.000000
max,0.468521,2485.000000,0.0,43.000000,3.000000,1.000000,4.000000,1.000000,0.0,1.000000,360.000000,3.000000,3.000000,3.000000,3.000000

In [ ]:
# Melakukan visualisasi Elbow Method menggunakan KElbowVisualizer()

In [ ]:
# Menggunakan algoritma K-Means Clustering

Jalankan cell code ini untuk menyimpan model kamu.

In [ ]:
# Menyimpan model menggunakan joblib
# import joblib
# joblib.dump(___, "model_clustering.h5")

(Opsional) Membangun Model Clustering [Skilled]

**Biarkan kosong jika tidak menerapkan kriteria skilled**

In [ ]:
# Menghitung dan menampilkan nilai Silhouette Score.

In [ ]:
# Membuat visualisasi hasil clustering

(Opsional) Membangun Model Clustering [Advanced]

**Biarkan kosong jika tidak menerapkan kriteria advanced**

In [ ]:
# Membangun model menggunakan PCA.

In [ ]:
# Simpan model PCA sebagai perbandingan dengan menjalankan cell code ini joblib.dump(model,"PCA_model_clustering.h5")
# joblib.dump(___, "PCA_model_clustering.h5")

# **5. Interpretasi Cluster**

## **a. Interpretasi Hasil Clustering**
1. **Contoh Interpretasi:**
- **Cluster 1: (Nasabah Bertransaksi dan Pendapatan Besar)**:
  - **Rata-rata (mean) Annual Income:** 0.953 (48,260)
  - **Rata-rata (mean) Spending Score:** 0.8 (56.48)
  - **Analisis:** Cluster ini mencakup pelanggan dengan pendapatan tahunan tinggi dan tingkat pengeluaran yang cukup tinggi. Pelanggan dalam cluster ini cenderung memiliki daya beli yang tinggi dan mereka lebih cenderung untuk membelanjakan sebagian besar pendapatan mereka. Sehingga rekomendasi pada kelompok nasabah ini adalah dengan menawarkan produk-produk investasi atau perbankan yang berkualitas tinggi.

In [ ]:
# Menampilkan analisis deskriptif minimal mean, min dan max untuk fitur numerik.
# Silakan menambahkan fungsi agregasi lainnya untuk experience lebih baik.

## Menjelaskan karakteristik tiap cluster berdasarkan rentangnya.
1. **Cluster 1: (___)**:
  - **Rata-rata (mean) <Fitur>:** <Sebelum inverse> <Setelah inverse>
  - **Analisis:** Cluster ini ...

# **6. Mengeksport Data**

1. Simpan nama kolom hasil clustering dengan nama `Target`.
2. Simpan hasilnya ke dalam file CSV menggunakan function `to_csv()`.

In [ ]:
# Pastikan nama kolom clustering sudah diubah menjadi Target

In [ ]:
# Simpan Data
# ___.to_csv('data_clustering.csv', index=False)

(Opsional) Interpretasi Hasil Clustering [Skilled]

**Biarkan kosong jika tidak menerapkan kriteria skilled**

In [ ]:
# inverse dataset ke rentang normal untuk numerikal
# inverse dataset yang sudah diencode ke kategori aslinya.

In [ ]:
# Menampilkan analisis deskriptif minimal mean, min dan max untuk fitur numerik dan mode untuk kategorikal menggunakan data yang sudah diinverse.
# Silakan menambahkan fungsi agregasi lainnya untuk experience lebih baik.

## Menjelaskan karakteristik tiap cluster berdasarkan rentangnya setelah inverse.
1. **Cluster 1: (___)**:
  - **Rata-rata (mean) <Fitur>:** <Sebelum inverse> <Setelah inverse>
  - **Analisis:** Cluster ini ...

(Opsional) Interpretasi Hasil Clustering [Advanced]

**Biarkan kosong jika tidak menerapkan kriteria advanced**

In [ ]:
# Mengintegrasikan kembali data yang telah di-inverse dengan hasil cluster.

In [ ]:
# Simpan Data
# ___.to_csv('data_clustering_inverse.csv', index=False)